In [1]:
# import the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# read in the data
df00 =pd.read_csv("Syriatel.csv")
df00.head().T

                               0         1         2         3         4
state                         KS        OH        NJ        OH        OK
account length               128       107       137        84        75
area code                    415       415       415       408       415
phone number            382-4657  371-7191  358-1921  375-9999  330-6626
international plan            no        no        no       yes       yes
voice mail plan              yes       yes        no        no        no
number vmail messages         25        26         0         0         0
total day minutes          265.1     161.6     243.4     299.4     166.7
total day calls              110       123       114        71       113
total day charge           45.07     27.47     41.38      50.9     28.34
total eve minutes          197.4     195.5     121.2      61.9     148.3
total eve calls               99       103       110        88       122
total eve charge           16.78     16.62      10.3      5.26     12.61
total night minutes        244.7     254.4     162.6     196.9     186.9
total night calls             91       103       104        89       121
total night charge         11.01     11.45      7.32      8.86      8.41
total intl minutes          10.0      13.7      12.2       6.6      10.1
total intl calls               3         3         5         7         3
total intl charge            2.7       3.7      3.29      1.78      2.73
customer service calls         1         1         0         2         3
churn                      False     False     False     False     False